### Heroes Of Pymoli Data Analysis

* Shockingly, of the 576 unique players of Heroes of Pymoli the vast majority of male (84%). Nerds!  
* Our peak age demographic falls between 20-24 (40%) with secondary groups falling between 15-19 (26%) and 25-29 (10%). 
* However, players ages 10 and under spend the most on average per purchase ($3.40). Where do they get the money? ;)
* Though they represent only 14% of total players, female players spend more on average per purchase.  
* The awesomely named "Oathbreaker, Last Hope of the Breaking Storm," is - not surprising - the game's most popular item, thought not it's most profitable because of its low price relative to other items. 
* 
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Show data columns 
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
# Display the total number of players 
player_count = df["SN"].nunique()
print("Total Number of Players: " + str(player_count))

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Find the number of unique items, purchase, average price and total revenue
unique_items = df['Item Name'].nunique()
total_purchases = df['Purchase ID'].count() 
avg_price = df['Price'].mean()
total_revenue = df['Price'].sum()

In [15]:
# Create dataframe that shows # of unique items, avg price, # of purchases, total revenue
pymoli_df = pd.DataFrame.from_dict({"Number of Players" : [player_count], 
                                    "Number of Unique Items" : [unique_items], 
                                   "Average Price" : [avg_price],
                                   "Total Number of Purchases" : [total_purchases],
                                   "Total Revenue" : [total_revenue]})
pymoli_df.round(2)

,Number of Players,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,576,179,3.05,780,2379.77

In [8]:
# Count number of unique genders 
gender_count = df["Gender"].nunique()
gender_count

3

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [29]:
# Count the number of male players
males_count = df[df["Gender"] == "Male"]["SN"].nunique()
print("Number of Male Players: " + str(males_count))

# Calculate percentage of male players 
male_pct = ((males_count/player_count)*100)
print("Percentage of Male Players: " + str(male_pct))

# Count the number of female players 
females_count = df[df["Gender"] == "Female"]["SN"].nunique()
print("Number of Female Players: " + str(females_count))

# Calculate percentage of female players 
female_pct = ((females_count/player_count) *100)
print("Percentage of Female Players: " + str(female_pct))

# Count the numnber of other gender players 
others_count = player_count - males_count - females_count
print("Number of Other Players: " + str(others_count))

# Calculate percentage of other gender players 
other_pct = ((others_count/player_count)*100)
print("Percentage of Other Players: " + str(other_pct))

Number of Male Players: 484
Percentage of Male Players: 84.02777777777779
Number of Female Players: 81
Percentage of Female Players: 14.0625
Number of Other Players: 11
Percentage of Other Players: 1.9097222222222223

In [14]:
# Create a dataframe of gender demographics 
gender_df = pd.DataFrame.from_dict({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                    "Percentage of Players" : [male_pct, female_pct, other_pct],
                                    "Total Count" : [males_count, females_count, others_count]})
                                   
gender_df.round(2)

                  Gender  Percentage of Players  Total Count
0                   Male                  84.03          484
1                 Female                  14.06           81
2  Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
# Obtain total purchase count (all genders) and purchase counts by gender 
total_pcount = df["Price"].count()
print("Total Number of Purchases: " + str(total_pcount))

male_pcount = df[df["Gender"] == "Male"]["Price"].count()
print("Male Player Purchase Count: " + str(male_pcount))

female_pcount = df[df["Gender"] == "Female"]["Price"].count()
print("Female Player Purchase Count: " + str(female_pcount))

other_pcount = total_pcount - male_pcount - female_pcount
print("Other Player Purchase Count: " + str(other_pcount))

Total Number of Purchases: 780
Male Player Purchase Count: 652
Female Player Purchase Count: 113
Other Player Purchase Count: 15

In [43]:
# Find average purchase amount by gender 
mp_avg = df[df["Gender"] == "Male"]['Price'].mean()
print("Average Purchase - Male Players: " + str(mp_avg))

fp_avg = df[df["Gender"] == "Female"]['Price'].mean()
print("Average Purchase - Female Players: " + str(fp_avg))

op_avg = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
print("Average Purchase - Other / Non-Disclosed Players: " + str(op_avg))

Average Purchase - Male Players: 3.0178527607361953
Average Purchase - Female Players: 3.203008849557519
Average Purchase - Other / Non-Disclosed Players: 3.3460000000000005

In [45]:
# Find total purchase value and total purchase value by gender
total_pvalue = df["Price"].sum()
print("Total Purchase Value - All Players: " + str(total_pvalue))

m_pvalue = df[df["Gender"] == "Male"]['Price'].sum()
print("Total Purchase Value - Male Players: " + str(m_pvalue))

f_pvalue = df[df["Gender"] == "Female"]['Price'].sum()
print("Total Purchase Value - Female Players: " + str(f_pvalue))

o_pvalue = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
print("Total Purchase Value = Other / Non-Disclosed Players: " + str(o_pvalue))

Total Purchase Value - All Players: 2379.77
Total Purchase Value - Male Players: 1967.64
Total Purchase Value - Female Players: 361.94
Total Purchase Value = Other / Non-Disclosed Players: 50.19

In [46]:
# Create dataframe from results 
genpurch_df = pd.DataFrame.from_dict({"Gender" : ["Male", "Female", "Other / Non-Disclosed"], 
                                      "Total Purchases" : [male_pcount, female_pcount, other_pcount],
                                      "Average Purchase" : [mp_avg, fp_avg, op_avg],
                                     "Total Purchase Value" : [m_pvalue, f_pvalue, o_pvalue]})                                   
genpurch_df.round(2)

,Gender,Total Purchases,Average Purchase,Total Purchase Value
0,Male,652,3.02,1967.64
1,Female,113,3.20,361.94
2,Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [53]:
# Create bins for age groups 
bins = [0,10,15,20,25,30,35,40,200]
age_groups = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Create a dataframe for bins and groupby age groups 
age_demo_df = df.copy()
age_demo_df["Age Groups"] = pd.cut(age_demo_df["Age"], bins, labels=age_groups)
age_group_bin = age_demo_df.groupby(["Age Groups"])

# Use .nunique to avoid duplicating players 
bin_count = age_group_bin["SN"].nunique()
total = df["SN"].nunique()
pct = (bin_count / total) * 100
pct

# Create a dataframe for count and percentage of players by age 
age_pct = pd.DataFrame({"Total Count": bin_count,
                         "Percentage of Players": pct})

# Format the dataframe and print 
age_pct["Percentage of Players"] = age_pct["Percentage of Players"].map("{:.2f}%".format)
age_pct

            Total Count Percentage of Players
Age Groups
Under 10             24                 4.17%
10 - 14              41                 7.12%
15 - 19             150                26.04%
20 - 24             232                40.28%
25 - 29              59                10.24%
30 - 34              37                 6.42%
35 - 39              26                 4.51%
Over 40               7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# Bin the purchase data by age 
bins = [0,10,15,20,25,30,35,40,200]
age_groups = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and use groupby
agepurch_df = df.copy()
agepurch_df["Age Groups"] = pd.cut(agepurch_df["Age"], bins, labels=age_groups)

binColumn = pd.cut(agepurch_df["Age"], bins, labels=age_groups)
agegroup_bin = agepurch_df.groupby(["Age Groups"])

# Data Manipulation
pcount_bin = agegroup_bin["Age"].count()
pavg_bin = agegroup_bin["Price"].mean()
ptotal_bin = agegroup_bin["Price"].sum()

# Create a new dataframe
age_demo = pd.DataFrame({"Purchase Count": pcount_bin,
                         "Average Purchase Price": pavg_bin,
                         "Total Purchase Value": ptotal_bin,})
# Format new dataframe 
age_demo["Average Purchase Price"] = age_demo["Average Purchase Price"].map("${:.2f}".format)
age_demo["Total Purchase Value"] = age_demo["Total Purchase Value"].map("${:.2f}".format)
age_demo = age_demo[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
age_demo

            Purchase Count Average Purchase Price Total Purchase Value
Age Groups
Under 10                32                  $3.40              $108.96
10 - 14                 54                  $2.90              $156.60
15 - 19                200                  $3.11              $621.56
20 - 24                325                  $3.02              $981.64
25 - 29                 77                  $2.88              $221.42
30 - 34                 52                  $2.99              $155.71
35 - 39                 33                  $3.40              $112.35
Over 40                  7                  $3.08               $21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# Group players by SN
groupby_SN = df.groupby(["SN"])

groupby_SN_count = groupby_SN["Item ID"].count()
groupby_SN_total = groupby_SN["Price"].sum()
groupby_SN_avg = groupby_SN_total / groupby_SN_count

# Create new dataframe 
top_spender = pd.DataFrame({"Purchase Count": groupby_SN_count,
                         "Average Purchase Price": groupby_SN_avg,
                         "Total Purchase Value": groupby_SN_total})

top_spender = top_spender.sort_values("Total Purchase Value", ascending=False) 
top_spender["Average Purchase Price"] = top_spender["Average Purchase Price"].map("${:.2f}".format)
top_spender["Total Purchase Value"] = top_spender["Total Purchase Value"].map("${:.2f}".format)
top_spender = top_spender[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spender.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
# Group the items and find their purchase count #, sum, price and value 
group_items = df.groupby(["Item ID", "Item Name"])
purchase_count = group_items["SN"].count()
item_total = group_items["Price"].sum()
item_price = (item_total / purchase_count)
item_value = (item_price * purchase_count)

# New DF with formatting
popular_item = pd.DataFrame({"Purchase Count": purchase_count,
                          "Item Price": item_price,
                          "Total Purchase Value": item_value})

popular_item = popular_item.sort_values("Purchase Count", ascending=False) 
popular_item["Item Price"] = popular_item["Item Price"].map("${:.2f}".format)
popular_item["Total Purchase Value"] = popular_item["Total Purchase Value"].map("${:.2f}".format)
popular_item = popular_item[["Purchase Count", "Item Price", "Total Purchase Value"]]
popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [67]:
# Create a new dataframe that shows total purchase value in descending order 
popular_item = popular_item.sort_values("Total Purchase Value", ascending=False) 
popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48